<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Remontowa system zamówień żurawii</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<div class="mainPage">
  <h1 class="remonstrant-txt"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Remontowa_logo.svg/800px-Remontowa_logo.svg.png" alt="rem logo"> </h1>
  <mat-divider></mat-divider>
  <mat-grid-list cols="4" class="mat-grid-list">
    <mat-grid-tile class="mat-grid-tile"><img src="https://images.unsplash.com/photo-1597089038854-6be9a836a40d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80" alt="pic" ></mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile"><img src="https://images.unsplash.com/photo-1596961326395-cad749a035d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1630&q=80" alt="pic" ></mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile"><img src="https://images.unsplash.com/photo-1518291182257-c3dbbc38d89f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="pic"></mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile"><img src="https://images.unsplash.com/photo-1592395699868-81e39aa28881?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="pic"></mat-grid-tile>
  </mat-grid-list>
  <div class="column1menu">
    <h4 class="Menu-txt">Zamówienia</h4>
    <mat-divider></mat-divider>
    <div class="menu-btn">
     <table>
       <tr>
         <th><P class="discription">Złóż zamówienie</P></th>
         <th class="th-space">  </th>
         <th><button class="button-main" onclick="window.location.href='https://www.wp.pl';" mat-raised-button>button</button></th>
        </tr>
      </table>
    </div>
    <mat-divider></mat-divider>
    <div class="menu-btn">
      <table>
       <tr>
         <th><P class="discription">Zrezygnuj z zamówienia</P></th>
         <th class="th-space"> </th>
         <th><button class="button-main" onclick="window.location.href='https://www.xvideos.com/video72186220/cunnilingus_beautiful_wet_pussy';" mat-raised-button>button</button></th>
       </tr>
      </table>
     </div>
    <mat-divider></mat-divider>
    <div class="menu-btn">
      <table>
       <tr>
         <th><P class="discription">Twoje zamówienia</P></th>
         <th class="th-space"></th>
         <th><button class="button-main" mat-raised-button>button</button></th>
       </tr>
      </table>
     </div>
    <mat-divider></mat-divider>
    <div class="menu-btn">
      <table>
       <tr>
         <th><P class="discription">tu bedzie opis opcji tu bedzie opis</P></th>
         <th class="th-space">  </th>
         <th><button class="button-main" mat-raised-button>button</button></th>
       </tr>
      </table>
     </div>
    <mat-divider></mat-divider>
    <div class="menu-btn">
      <table>
       <tr>
         <th><p class="discription">tu bedzie opis opcji tu bedzie opis</p></th>
         <th class="th-space">  </th>
         <th><button class="button-main" mat-raised-button>button</button></th>
       </tr>
      </table>
     </div>
     <mat-divider></mat-divider>
    </div>
    <footer>
      tutaj bedzie footer, logo ect
    </footer>
  </div>
