.mainPage{
  background: radial-gradient(ellipse at bottom, #7eb0ff 0%, #030617 100%);
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
}

.remonstrant-txt{
  width:70%;
  margin: auto;
  background: rgba(0, 0, 0, 0.74);
  filter: blur(1px) drop-shadow(10px 10px 2px);
}

.mat-divider{
  margin: 10px;
}

.example-spacer{
  width: 100%;
}


.column1menu{
  flex:auto;
  padding: 20px;
  margin-top: 20px;
  border-style:ridge;
}

.menu-btn{
  margin: auto;
  background-color: rgba(142, 179, 231, 0.59);
  border: solid black;
  width: 50%;
  height: 100px;
}

.discription{
  font-size: large;
  margin-top: 2%;
}

.menu-btn:hover{
  margin-bottom: 5px;
  box-shadow: 2px 2px 4px;
  transition: 300ms;
  border-style:outset;
  border-color: blanchedalmond;
}

.Menu-txt{
  font-weight: 500;
  font-size: 300%;
  text-align: center;
  text-shadow: 2px 2px 4px;
  color: white;
}

.mat-grid-list{
  border: solid black 2px;
  background-color: rgba(142, 179, 231, 0.59);
  margin: 40px;
  padding: 8px;

}

.mat-grid-tile{
  border: solid black 2px;
  background-color: rgb(177, 194, 217);

}

img {
  background-size: contain;
  width: 100%;
  height: 90%;
}

.button-main {
  margin: 8px;
}

th{
  width: 10%;
  height: 100px;
  margin: auto;
  border: solid black;
}



