<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<div class="mainPage">
  <h1 class="mainPage-txt">MainPage</h1>
  <mat-divider></mat-divider>
  <mat-grid-list cols="4" class="matgridlist">
    <mat-grid-tile class="matgridtile"><img src="https://images.unsplash.com/photo-1572566830488-069bcc7fbcec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTd8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="broken" style="size:100%"></mat-grid-tile>
    <mat-grid-tile class="matgridtile"><img src="https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="pic" width="500" height="350" ></mat-grid-tile>
    <mat-grid-tile class="matgridtile">zdjecie</mat-grid-tile>
    <mat-grid-tile class="matgridtile">zdjecie</mat-grid-tile>
  </mat-grid-list>
  <div class="column1menu">
    <h4 class="Menu-txt">Menu</h4>
    <mat-divider></mat-divider>
    <div class="menu-btn">
     <table>
       <tr>
         <th><P class="discription">tu bedzie opis opcji tu bedzie opis ------------></P></th>
         <th><button class="button-main" onclick="window.location.href='https://www.wp.pl';" mat-raised-button>button</button></th>
        </tr>
      </table>
    </div>
    <mat-divider></mat-divider>
    <div class="menu-btn">
      <table>
       <tr>
         <th><P class="discription">tu bedzie opis opcji tu bedzie opis ------------></P></th>
         <th><button class="button-main" mat-raised-button>button</button></th>
       </tr>
      </table>
     </div>
    <mat-divider></mat-divider>
    <div class="menu-btn">
      <table>
       <tr>
         <th><P class="discription">tu bedzie opis opcji tu bedzie opis ------------></P></th>
         <th><button class="button-main" mat-raised-button>button</button></th>
       </tr>
      </table>
     </div>
    <mat-divider></mat-divider>
    <div class="menu-btn">
      <table>
       <tr>
         <th><P class="discription">tu bedzie opis opcji tu bedzie opis ------------></P></th>
         <th><button class="button-main" mat-raised-button>button</button></th>
       </tr>
      </table>
     </div>
    <mat-divider></mat-divider>
    <div class="menu-btn">
      <table>
       <tr>
         <th><p class="discription">tu bedzie opis opcji tu bedzie opis ------------></p></th>
         <th><button class="button-main" mat-raised-button>button</button></th>
       </tr>
      </table>
     </div>
     <mat-divider></mat-divider>
    </div>
    <footer>
      tutaj bedzie footer, logo ect
    </footer>
  </div>
  <div>
    <img src="/src/assets/img/dog.jpg" alt="no">
  </div>
